.editor-block-toolbar .components-toolbar .tld-selected-icon {
		background: #555D66;
}

.editor-block-toolbar .components-toolbar .tld-selected-icon #svg_background {
		fill: #555D66;
		stroke: #FFF;
}

.editor-block-toolbar .components-toolbar .tld-selected-icon #svg_rect {
		stroke: #FFF;
}